main {
    width: 66.666666%;
    border-left: 2px solid black;
}

.add-new {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.05rem;
}

.add-new button {
    font-size: 1.5rem;
    border-radius: 0.375rem;

    padding: 0.215rem 0.575rem 0.425rem 0.5rem;

    position: relative;
    bottom: 0.275rem;
    right: -0.275rem;
}

.add-new button:hover,
.add-new button:active {
    background: rgb(55, 65, 81);
}


/* TITLES */
h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1.15rem;

    display: none;
}

h1.today {
    color: rgb(var(--color-today));
}

h1.scheduled {
    color: rgb(var(--color-scheduled));
    display: block;
}

h1.all {
    color: rgb(var(--color-all));
}

h1.flagged {
    color: rgb(var(--color-flagged));
}


/* TODOS */
.todos li {
    display: flex;
    line-height: 1.25;
}

.todos p {
    padding: 0.625rem 0;
    border-bottom: 1px solid rgb(55, 65, 81);
    flex-grow: 1;
}

.todos svg  {
    flex: none;

    width: 2rem;
    height: 2rem;

    margin-top: 0.425rem;
    margin-right: 0.425rem;

    stroke: rgb(28, 34, 43);
    stroke-width: 1;

    fill: rgb(55, 65, 81);
    cursor: pointer;
}

.todos svg:hover,
.todos svg:active {
    fill: rgb(251, 191, 36);
}